/*Javascriptpro_*/
/*Dont forget to follow me on github,instagram and codepen.*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}   

body{
background:#BBCEDF;  
font-family: 'poppins', sans-serif;
}

.container{
padding:20px; 
width:360px;
background:#3A3E4A;
border-radius:10px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.container .search-box{
padding:5px;   
height:50px;
background:#19202A;
border-radius:30px;
display:flex;
align-items:center;
}

.container .search-box i{
color:grey;  
position:relative;
left:14px;
font-size:14px;
}

.container .search-box input{
all:unset; 
height:50px;
position:relative;
left:25px;
font-size:14px;
border-top-right-radius:30px;
border-bottom-right-radius:30px;
color:lightgrey;
}

.container .weather-info-box{
background:linear-gradient(135deg,#62b8f5,#4475ef);
border-radius:15px;   
padding:20px;
width:100%;
margin-top:15px;
}

.container .weather-info-box .location{
text-align:center;
font-size:13px;
margin-top:-2px;
color:white;
}

.container .weather-info-box .location i{
font-size:11px;
padding-right:3px;
}

.container .weather-info-box .weather-img{
height:130px;  
width:130px;
margin-top:9px;
display:flex;
align-items:center;
justify-content:center;
}

.container .weather-info-box .weather-img img{
height:130px; 
width:130px;
position:relative;
top:4px;
}

.container .weather-info-box .weather-info{
margin-top:-120px;   
height:110px;
width:130px;
float:right;
}

.container .weather-info-box .weather-info .temp{
font-size:40px;
color:white;
position:relative;
top:3px;
}

.container .weather-info-box .weather-info .weather_main_1{
font-size:20px;
color:white;
font-weight:400;
text-transform:uppercase;
margin-top:-4px;
}

.container .weather-info-box .weather-info .weather_descrip{
 padding:4px;
padding-left:10px;
padding-right:10px;
background:white;
white-space:nowrap;
font-size:8px;
border-radius:15px;
margin-top:.5px;
max-width:73px;
text-align:center;
}

.container .other-weather-info{
padding:10px; 
margin-top:15px;
border-radius:10px;
height:150px;
background:#19202A;
}

.container .other-weather-info div{
height:60px;
width:90px;
float:left;
color:black;
text-align:center;
margin-left:7px;
margin-top:4px;
position:relative;
top:.5px;
}

.container .other-weather-info div span{
font-weight:300;
padding:3px;
padding-left:10px;
padding-right:10px;
text-align:center;
border-radius:30px;
font-size:8px;
background:white;
color:black;
font-weight:600;
}

.container .other-weather-info div p{
margin-top:7px;
font-size:14px;
font-weight:500;
color:white;
}

.container .other-weather-info .pressure p,
.container .other-weather-info .wind-speed p{
font-size:13px;        
}

::selection{
background:white;
color:#62b8f5;
}
