/*Javascriptpro_*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin:0; 
padding:0;
box-sizing:border-box;
}   

body{
background:#FFBC13; 
font-family: 'poppins', sans-serif;
}

.container{
padding:30px;   
width:380px;
background:#232534;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:5px;
padding-bottom:30px;
}

.container h2{
text-align:center;
font-size:17px;
letter-spacing:2px;
color:white;
margin-top:3px;
text-transform:uppercase;
}

.container .reset-btn{
all:unset; 
height:40px;
width:120px;
background:#FFBC13;
color:black;
display:flex;
align-items:center;
justify-content:center;
border-radius:3px;
margin:auto;
margin-top:18px;
text-transform:uppercase;
letter-spacing:1px;
font-size:12px;
cursor:pointer;
background:white;
}

.container .game{
width:100%;  
height:350px;
margin-top:25px;
display:flex;
flex-wrap:wrap;
gap:7px;
transform-style:preserve-3d;
perspective:500px;
}

.item{
position:relative; 
height:74px;
width:74px;
background:white;
display:flex;
align-items:center;
justify-content:center;
font-size:25px;
transition:all .25s;
transform:rotateY(180deg);
}

.item.boxOpen{
transform:rotateY(0deg);
}

.item::after{
content:"";  
position:absolute;
inset:0;
background:#FFBC13;
transition:all .25s;
transform:rotateY(0deg);
backface-visibility:hidden;
}

.boxOpen::after,.boxMatch::after{
transform:rotateY(180deg);        
}

::selection{
background:white;  
color:#232534;
}
