@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin:0;   
padding:0;
box-sizing:border-box;
}    

body{
font-family: 'poppins', sans-serif;
background:#6495ED;
}

.container{
padding:20px;   
background:white;
border-radius:7px;
width:360px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.container .app-title{
text-align:center;
font-size:18px;
white-space:nowrap;
}

.container .principal-amount{
margin-top:40px;        
}

.container .principal-amount span{
font-size:15px;  
font-weight:600;
}

.container .principal-amount input{
display:block;       
all:unset;
height:15px;   
border-bottom:1px solid black;
margin-top:6px;
padding:5px;
padding-left:10px;
}

.container .box{
height:60px; 
width:158px;
float:left;
margin-top:17px;
}

.container .box span{
font-size:14px;      
font-weight:600;
}

.container .box input{
all:unset; 
height:15px;
width:135px;
border-bottom:1px solid black;
padding:5px;
padding-left:10px;
margin-top:3px;
}

.container .time-period{
position:relative;       
left:13px;
}

.container .calculate-btn{
all:unset;   
height:40px;
width:180px;
color:white;
display:flex;
justify-content:center;
align-items:center;
border-radius:7px;
background:#6495ED;
margin:auto;
position:relative;
top:13px;
cursor:pointer;
}

.container .result-box{
padding:15px;  
background:rgba(100, 149, 237,0.1);
text-align:center;
margin-top:41px;
}

.container .result-box p{
margin-top:7px;   
font-size:14px;
}

::selection{
background:rgb(100, 149, 237,0.8); 
color:white;
}
